<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P2P File Transfer</title>
    <script src="../assets/static/index.js"></script>
    <link rel="stylesheet" href="../assets/static/styles.css">
</head>
<body>
    <h1>Hello World!</h1>
    <form id="fileupload" method="post" enctype="multipart/form-data">
        <label for="filesubmit">Upload your files:</label>
        <input id="fileinput" type="file" name="[]" id="files" multiple><br><br>
        <input id="filesubmit" type="submit" value="Submit">
    </form>
</body>
</html>